<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">



<h1> My tasks </h1>
<ul class="list-group checked-list-box">
  <% @tasks.each do |task| %>
    <li class="list-group-item"><input type="checkbox" id="scales" name="feature"
               value="scales" <%="checked" if task.completed %>/><%= link_to "#{task.title}", task_path(task) %><i class="fa fa-trash" aria-hidden="true"><%= link_to "Destroy task", task_path(task), method: :delete,
      data: { confirm: "Are you sure?" } %></i></li>
  <% end %>
</ul>

<%= link_to "Add a new task",new_task_path %>
